# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# SQLite database
*.sqlite3

# Django
staticfiles/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db